body {
    background: url(katamari.jpg) -600px 50% no-repeat;
    background-size: 640px 360px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

a {
    color: #0a3a76;
}

p {
    max-width: 525px;
}

.footer {
    color: #686868;
    font-size: 75%;
}

p.footer {
    margin-top: 5em;
}

ul.footer {
    margin: 0;
    padding: 0;
}

ul.footer li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.footer li::after {
    content: "|";
    display: inline-block;
    padding: 0 0 0 3px;
}

ul.footer li:last-child::after {
    display: none;
}

@media (max-width: 635px) {
    body {
        background: url(katamari.jpg) -635px 160% no-repeat;
    }

    #katamari {
        height: 72px;
        width: 100%;
    }
}
